html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

.main_container {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/main.png");
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .main_container .main_wrapper {
    border: 1px solid seagreen;
    max-width: 1140px;
    margin: 0 auto;
    padding: 6rem 3rem 0 3rem;
    display: flex; }
    @media screen and (max-width: 769px) {
      .main_container .main_wrapper {
        min-height: 600px;
        padding: 0 3rem; } }
    @media screen and (max-width: 480px) {
      .main_container .main_wrapper {
        min-height: 500px;
        padding: 2rem 1rem; } }
    .main_container .main_wrapper .main_content {
      flex: 6;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 4rem 0 0; }
      @media screen and (max-width: 769px) {
        .main_container .main_wrapper .main_content {
          padding: 0; } }
      .main_container .main_wrapper .main_content h3 {
        color: #f4cb08;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content p {
        word-wrap: break-word;
        margin-bottom: 1.5rem; }
        @media screen and (max-width: 480px) {
          .main_container .main_wrapper .main_content p {
            margin-bottom: 3rem; } }
      .main_container .main_wrapper .main_content .btns {
        font-family: "Open Sans", sans-serif;
        display: flex; }
        @media screen and (max-width: 769px) {
          .main_container .main_wrapper .main_content .btns {
            justify-content: center; } }
        @media screen and (max-width: 480px) {
          .main_container .main_wrapper .main_content .btns {
            justify-content: flex-start; } }
        .main_container .main_wrapper .main_content .btns button {
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 1px;
          border-radius: 4px;
          padding: 10px 30px;
          cursor: pointer; }
          @media screen and (max-width: 769px) {
            .main_container .main_wrapper .main_content .btns button {
              padding: 10px 20px; } }
          @media screen and (max-width: 480px) {
            .main_container .main_wrapper .main_content .btns button {
              padding: 5px 10px; } }
        .main_container .main_wrapper .main_content .btns .btn-active {
          border: 2px solid #f4cb08;
          background-color: #f4cb08;
          margin-right: 2rem; }
          .main_container .main_wrapper .main_content .btns .btn-active:hover {
            background-color: #967e07;
            border-color: #967e07; }
        .main_container .main_wrapper .main_content .btns .btn {
          border: 2px solid #ffffff;
          background-color: transparent; }
          .main_container .main_wrapper .main_content .btns .btn:hover {
            background-color: #ffffff;
            color: #111111; }
    .main_container .main_wrapper .main_img {
      flex: 4; }
      @media screen and (max-width: 769px) {
        .main_container .main_wrapper .main_img {
          display: none; } }
      .main_container .main_wrapper .main_img .img_content {
        display: flex;
        justify-content: center;
        border: 1px solid springgreen;
        max-height: 600px;
        max-width: 350px; }

.info_container {
  width: 100%; }
  .info_container .info_wrapper {
    border: 2px solid springgreen;
    max-width: 1140px;
    color: #111111;
    padding: 3rem;
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 769px) {
      .info_container .info_wrapper {
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .info_container .info_wrapper {
        padding: 1rem; } }
    .info_container .info_wrapper .info_title {
      flex: 5;
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .info_container .info_wrapper .info_title h3 {
        color: #f4cb08;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title h1 {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title p {
        font-family: "Open Sans", sans-serif;
        color: #b3b3b3;
        font-style: italic;
        font-size: 1.5rem; }
    .info_container .info_wrapper .info_text {
      flex: 5;
      padding: 1rem 3rem; }
      @media screen and (max-width: 769px) {
        .info_container .info_wrapper .info_text {
          padding: 1rem; } }
      .info_container .info_wrapper .info_text p {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 2rem; }
      .info_container .info_wrapper .info_text .btn-active {
        color: #ffffff;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 4px;
        padding: 10px 30px;
        border: 2px solid #f4cb08;
        background-color: #f4cb08;
        margin-right: 2rem; }
        .info_container .info_wrapper .info_text .btn-active:hover {
          background-color: #967e07;
          border-color: #967e07; }

.imgs_container {
  width: 100%; }
  .imgs_container .imgs_wrapper {
    border: rgba(28, 31, 211, 0.959) 1px solid;
    margin: 0 auto;
    max-width: 1236px;
    display: flex;
    min-height: 312px; }
    @media screen and (max-width: 769px) {
      .imgs_container .imgs_wrapper {
        flex-direction: column;
        min-height: 600px; } }
    .imgs_container .imgs_wrapper .img_1 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-1.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
    .imgs_container .imgs_wrapper .img_2 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-2.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
    .imgs_container .imgs_wrapper .img_3 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-3.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover; }
    .imgs_container .imgs_wrapper div {
      display: flex;
      flex-direction: column;
      justify-content: end; }
      .imgs_container .imgs_wrapper div h2 {
        font-weight: 700;
        color: 1.25rem;
        color: #ffffff;
        margin: 1rem 1rem; }
      .imgs_container .imgs_wrapper div p {
        color: #ffffff;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        line-height: 1.6;
        margin: 1rem; }
      .imgs_container .imgs_wrapper div .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin: 0 1rem; }

.services_container {
  width: 100%; }
  .services_container .services_wrapper {
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 900px) {
      .services_container .services_wrapper {
        padding: 3rem 2rem; } }
    @media screen and (max-width: 769px) {
      .services_container .services_wrapper {
        padding: 2rem 1rem; } }
    .services_container .services_wrapper .services_titles {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .services_container .services_wrapper .services_titles h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #f4cb08; }
      .services_container .services_wrapper .services_titles h1 {
        font-weight: bolder;
        font-size: 2.25rem;
        color: #111111;
        margin-top: 1.25rem;
        text-align: center; }
      .services_container .services_wrapper .services_titles .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-top: 2rem;
        margin-bottom: 1.5rem; }
    .services_container .services_wrapper .services_content {
      display: grid;
      grid-template-columns: repeat(3, minmax(150px, 300px));
      justify-content: center;
      gap: 2rem 1rem; }
      @media screen and (max-width: 900px) {
        .services_container .services_wrapper .services_content {
          grid-template-columns: repeat(2, minmax(150px, 300px)); } }
      @media screen and (max-width: 569px) {
        .services_container .services_wrapper .services_content {
          grid-template-columns: repeat(1, minmax(150px, 300px));
          gap: 1rem; } }
      .services_container .services_wrapper .services_content .service_item {
        display: flex; }
        .services_container .services_wrapper .services_content .service_item .logo_container {
          flex: 3;
          display: flex;
          justify-content: center;
          margin-right: 10px; }
          .services_container .services_wrapper .services_content .service_item .logo_container .logo {
            width: 64px;
            height: 64px;
            border-radius: 10px;
            border: 2px solid #f4cb08;
            align-self: flex-start;
            display: flex;
            justify-content: center;
            align-items: center; }
            .services_container .services_wrapper .services_content .service_item .logo_container .logo img {
              width: 36px;
              height: 36px; }
        .services_container .services_wrapper .services_content .service_item .content {
          flex: 7;
          color: #111111;
          word-wrap: break-word;
          margin-right: 10px; }
          .services_container .services_wrapper .services_content .service_item .content h3 {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.2;
            margin-bottom: 1rem; }
          .services_container .services_wrapper .services_content .service_item .content p {
            font-family: "Open Sans", sans-serif;
            line-height: 1.4; }

.portafolio_container {
  width: 100%;
  background-color: #2c2c2c; }
  .portafolio_container .portafolio_wrapper {
    max-width: 1236px;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column; }
    .portafolio_container .portafolio_wrapper .portafolio_title {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .portafolio_container .portafolio_wrapper .portafolio_title h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: #f4cb08; }
      .portafolio_container .portafolio_wrapper .portafolio_title h1 {
        font-weight: bolder;
        font-size: 2.25rem;
        color: #ffffff;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        text-align: center; }
      .portafolio_container .portafolio_wrapper .portafolio_title .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
    .portafolio_container .portafolio_wrapper .portafolio_gallery {
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr)); }
      @media screen and (max-width: 900px) {
        .portafolio_container .portafolio_wrapper .portafolio_gallery {
          grid-template-columns: repeat(2, minmax(200px, 1fr)); } }
      @media screen and (max-width: 600px) {
        .portafolio_container .portafolio_wrapper .portafolio_gallery {
          grid-template-columns: repeat(1, minmax(200px, 1fr)); } }
      .portafolio_container .portafolio_wrapper .portafolio_gallery div {
        width: 100%;
        min-height: 278px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover; }
        @media screen and (max-width: 475px) {
          .portafolio_container .portafolio_wrapper .portafolio_gallery div {
            min-width: 235px; } }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-1 {
        background-image: url("../../assets/proyects/built-1.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-2 {
        background-image: url("../../assets/proyects/building-2.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-3 {
        background-image: url("../../assets/proyects/building-3.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-4 {
        background-image: url("../../assets/proyects/building-4.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-5 {
        background-image: url("../../assets/proyects/building-5.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-6 {
        background-image: url("../../assets/proyects/building-6.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-7 {
        background-image: url("../../assets/proyects/building-7.png"); }
      .portafolio_container .portafolio_wrapper .portafolio_gallery .img_item-8 {
        background-image: url("../../assets/proyects/building-8.png"); }

.map_container {
  width: 100%; }
  .map_container .map_wrapper {
    border: solid 1px darkblue;
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 769px) {
      .map_container .map_wrapper {
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .map_container .map_wrapper {
        padding: 2rem 1rem; } }
    .map_container .map_wrapper .map {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center; }
    .map_container .map_wrapper .map_content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .map_container .map_wrapper .map_content h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #f4cb08; }
      .map_container .map_wrapper .map_content h1 {
        color: #111111;
        font-size: 2.25rem;
        font-weight: 900;
        margin: 1.5rem 0; }
      .map_container .map_wrapper .map_content .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
      .map_container .map_wrapper .map_content p {
        font-family: "Open Sans", sans-serif;
        line-height: 1.6;
        word-wrap: break-word;
        margin-bottom: 2rem; }
      .map_container .map_wrapper .map_content button {
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 4px;
        padding: 10px 30px; }
      .map_container .map_wrapper .map_content .btn-active {
        border: 2px solid #f4cb08;
        background-color: #f4cb08;
        margin-right: 2rem; }
        .map_container .map_wrapper .map_content .btn-active:hover {
          background-color: #967e07;
          border-color: #967e07; }

.statistics_container {
  width: 100%; }
  .statistics_container .statistics_wrapper {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../../assets/statistics.jpeg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 1236px;
    margin: 0 auto;
    min-height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem; }
    @media screen and (max-width: 769px) {
      .statistics_container .statistics_wrapper {
        gap: 0;
        justify-content: initial;
        flex-wrap: wrap; } }
    .statistics_container .statistics_wrapper div {
      min-height: 232px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      @media screen and (max-width: 769px) {
        .statistics_container .statistics_wrapper div {
          flex: 0 0 49%; } }
      @media screen and (max-width: 480px) {
        .statistics_container .statistics_wrapper div {
          flex: 1 1 100%; } }
    .statistics_container .statistics_wrapper p {
      text-align: center;
      font-weight: 700;
      word-wrap: break-word;
      color: #f4cb08;
      font-size: 1.85rem;
      font-family: "Open Sans", sans-serif; }
    .statistics_container .statistics_wrapper .text {
      color: #f4cb08;
      font-weight: 700;
      font-size: 1rem;
      margin: 1rem 0; }
    .statistics_container .statistics_wrapper .line-small {
      width: 80px;
      margin: 0 auto;
      margin-top: .5rem;
      border-width: 3px;
      border-color: #f4cb08;
      border-style: solid;
      border-right-width: 0;
      border-left-width: 0;
      border-bottom-width: 0; }

.info-work_container {
  width: 100%; }
  .info-work_container .info-work_wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 3rem; }
    .info-work_container .info-work_wrapper .title {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .info-work_container .info-work_wrapper .title h3 {
        font-size: 1.5rem;
        color: #f4cb08;
        font-weight: 400;
        text-align: center; }
      .info-work_container .info-work_wrapper .title h1 {
        font-weight: 900;
        color: #111111;
        font-size: 2.25rem;
        margin: 1.5rem 0;
        text-align: center; }
      .info-work_container .info-work_wrapper .title .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 3rem; }
    .info-work_container .info-work_wrapper .content {
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      justify-content: center;
      justify-items: center;
      gap: 1rem; }
      @media screen and (max-width: 900px) {
        .info-work_container .info-work_wrapper .content {
          grid-template-columns: repeat(2, minmax(200px, 1fr)); } }
      @media screen and (max-width: 480px) {
        .info-work_container .info-work_wrapper .content {
          grid-template-columns: repeat(1, minmax(200px, 1fr)); } }
      .info-work_container .info-work_wrapper .content .content_item {
        color: #111111;
        min-height: 278px;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .info-work_container .info-work_wrapper .content .content_item .content_logo {
          border-radius: 50%;
          background-color: #f4cb08;
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center; }
          .info-work_container .info-work_wrapper .content .content_item .content_logo img {
            width: 45px;
            height: 45px; }
        .info-work_container .info-work_wrapper .content .content_item h3 {
          font-size: 1.5rem;
          font-weight: 500;
          margin: 1rem 0;
          text-align: center; }
        .info-work_container .info-work_wrapper .content .content_item p {
          font-family: "Open Sans", sans-serif;
          word-wrap: break-word;
          line-height: 1.4;
          text-align: center; }

.testimonials_container {
  width: 100%; }
  .testimonials_container .testimonials_wrapper {
    border: 1px solid aqua;
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .testimonials_container .testimonials_wrapper .title {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .testimonials_container .testimonials_wrapper .title h3 {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        color: #f4cb08; }
      .testimonials_container .testimonials_wrapper .title h1 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        text-align: center; }
      .testimonials_container .testimonials_wrapper .title .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
