html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal; }

* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

.main_container {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/main.png");
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .main_container .main_wrapper {
    border: 1px solid seagreen;
    max-width: 1140px;
    margin: 0 auto;
    padding: 6rem 3rem 0 3rem;
    display: flex; }
    @media screen and (max-width: 769px) {
      .main_container .main_wrapper {
        min-height: 600px;
        padding: 0 3rem; } }
    @media screen and (max-width: 480px) {
      .main_container .main_wrapper {
        min-height: 500px;
        padding: 2rem 1rem; } }
    .main_container .main_wrapper .main_content {
      flex: 6;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 4rem 0 0; }
      @media screen and (max-width: 769px) {
        .main_container .main_wrapper .main_content {
          padding: 0; } }
      .main_container .main_wrapper .main_content h3 {
        color: #f4cb08;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
      .main_container .main_wrapper .main_content p {
        word-wrap: break-word;
        margin-bottom: 1.5rem; }
        @media screen and (max-width: 480px) {
          .main_container .main_wrapper .main_content p {
            margin-bottom: 3rem; } }
      .main_container .main_wrapper .main_content .btns {
        font-family: "Open Sans", sans-serif;
        display: flex; }
        @media screen and (max-width: 769px) {
          .main_container .main_wrapper .main_content .btns {
            justify-content: center; } }
        @media screen and (max-width: 480px) {
          .main_container .main_wrapper .main_content .btns {
            justify-content: flex-start; } }
        .main_container .main_wrapper .main_content .btns button {
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 1px;
          border-radius: 4px;
          padding: 10px 30px;
          cursor: pointer; }
          @media screen and (max-width: 769px) {
            .main_container .main_wrapper .main_content .btns button {
              padding: 10px 20px; } }
          @media screen and (max-width: 480px) {
            .main_container .main_wrapper .main_content .btns button {
              padding: 5px 10px; } }
        .main_container .main_wrapper .main_content .btns .btn-active {
          border: 2px solid #f4cb08;
          background-color: #f4cb08;
          margin-right: 2rem; }
          .main_container .main_wrapper .main_content .btns .btn-active:hover {
            background-color: #967e07;
            border-color: #967e07; }
        .main_container .main_wrapper .main_content .btns .btn {
          border: 2px solid #ffffff;
          background-color: transparent; }
          .main_container .main_wrapper .main_content .btns .btn:hover {
            background-color: #ffffff;
            color: #111111; }
    .main_container .main_wrapper .main_img {
      flex: 4; }
      @media screen and (max-width: 769px) {
        .main_container .main_wrapper .main_img {
          display: none; } }
      .main_container .main_wrapper .main_img .img_content {
        display: flex;
        justify-content: center;
        border: 1px solid springgreen;
        max-height: 600px;
        max-width: 350px; }

.info_container {
  width: 100%; }
  .info_container .info_wrapper {
    border: 2px solid springgreen;
    max-width: 1140px;
    color: #111111;
    padding: 3rem;
    margin: 0 auto;
    display: flex; }
    @media screen and (max-width: 769px) {
      .info_container .info_wrapper {
        flex-direction: column; } }
    @media screen and (max-width: 480px) {
      .info_container .info_wrapper {
        padding: 1rem; } }
    .info_container .info_wrapper .info_title {
      flex: 5;
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .info_container .info_wrapper .info_title h3 {
        color: #f4cb08;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title h1 {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 1.1;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem; }
      .info_container .info_wrapper .info_title p {
        font-family: "Open Sans", sans-serif;
        color: #b3b3b3;
        font-style: italic;
        font-size: 1.5rem; }
    .info_container .info_wrapper .info_text {
      flex: 5;
      padding: 1rem 3rem; }
      @media screen and (max-width: 769px) {
        .info_container .info_wrapper .info_text {
          padding: 1rem; } }
      .info_container .info_wrapper .info_text p {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 2rem; }
      .info_container .info_wrapper .info_text .btn-active {
        color: #ffffff;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 4px;
        padding: 10px 30px;
        border: 2px solid #f4cb08;
        background-color: #f4cb08;
        margin-right: 2rem; }
        .info_container .info_wrapper .info_text .btn-active:hover {
          background-color: #967e07;
          border-color: #967e07; }

.imgs_container {
  width: 100%; }
  .imgs_container .imgs_wrapper {
    border: rgba(28, 31, 211, 0.959) 1px solid;
    margin: 0 auto;
    max-width: 1236px;
    display: flex;
    min-height: 312px; }
    .imgs_container .imgs_wrapper .img_1 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-1.png"); }
    .imgs_container .imgs_wrapper .img_2 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-2.png"); }
    .imgs_container .imgs_wrapper .img_3 {
      border: 1px solid saddlebrown;
      flex: 3;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/imgs-1/img-3.png"); }
    .imgs_container .imgs_wrapper div {
      display: flex;
      flex-direction: column;
      justify-content: end; }
      .imgs_container .imgs_wrapper div h2 {
        font-weight: 700;
        color: 1.25rem;
        color: #ffffff;
        margin: 1rem 1rem; }
      .imgs_container .imgs_wrapper div p {
        color: #ffffff;
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        line-height: 1.6;
        margin: 1rem; }
      .imgs_container .imgs_wrapper div .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin: 0 1rem; }

.services_container {
  width: 100%; }
  .services_container .services_wrapper {
    border: 1px solid red;
    max-width: 1140px;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .services_container .services_wrapper .services_titles {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .services_container .services_wrapper .services_titles h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #f4cb08; }
      .services_container .services_wrapper .services_titles h1 {
        font-weight: bolder;
        font-size: 2.25rem;
        color: #111111;
        margin-top: 1.25rem; }
      .services_container .services_wrapper .services_titles .line-small {
        width: 80px;
        border-width: 3px;
        border-color: #f4cb08;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-top: 2rem;
        margin-bottom: 1.5rem; }
    .services_container .services_wrapper .services_content {
      border: 1px solid saddlebrown;
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
      column-gap: 3rem;
      row-gap: 2rem;
      display: flex;
      justify-content: center; }
      .services_container .services_wrapper .services_content .service_item {
        width: 33%;
        min-height: fit-content;
        max-width: 300px;
        display: flex; }
        .services_container .services_wrapper .services_content .service_item .logo_container {
          flex: 3; }
          .services_container .services_wrapper .services_content .service_item .logo_container .logo {
            width: 64px;
            height: 64px;
            border-radius: 10px;
            border: 2px solid #f4cb08;
            align-self: flex-start;
            display: flex;
            justify-content: center;
            align-items: center; }
            .services_container .services_wrapper .services_content .service_item .logo_container .logo img {
              width: 36px;
              height: 36px; }
        .services_container .services_wrapper .services_content .service_item .content {
          flex: 7;
          color: #111111;
          word-wrap: break-word;
          margin-right: 10px; }
          .services_container .services_wrapper .services_content .service_item .content h3 {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 1.2;
            margin-bottom: 1rem; }
          .services_container .services_wrapper .services_content .service_item .content p {
            font-family: "Open Sans", sans-serif;
            line-height: 1.4; }
