// Colores

$main-color: #f4cb08;
$second-color: #b3b3b3;

$text-color: #ffffff;
$text-color-2: #111111;
$text-color-3: #333333;
$text-color-4: #F2F2F2;

$bg-color-1: #ffffff;
$bg-color-2: #2c2c2c;
$bg-color-3: #171717;

$sombra: 0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7);
$sombra-2: 0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5);

$hover-color: #967e07;


// font-family

$font-1: "Roboto", sans-serif;
$font-2: 'Open Sans', sans-serif;

// Breakpoints

$max-width: 1140px;

$breakpoint-m: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 769px;
$breakpoint-lg: 1024px;
$breakpoint-lx: 1200px;


//@media screen and (max-width: ) {}
