
// Variables
@import 'variables';

// Configuración inicial
@import 'init';


// Componentes aquí
@import 'components/header';
@import 'components/main';
@import 'components/info';
@import 'components/info-imgs';
@import 'components/services';