.blog_container {
  width: 100%;
  background-color: #ffffff;

  .blog_wrapper {
    max-width: $max-width;
    padding: 3rem;
    @media screen and (max-width: $breakpoint-sm) {
        padding: 2rem 1rem;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        color: $main-color;
        font-weight: 400;
        font-size: 1.875rem;
      }

      h1 {
          font-weight: 900;
          font-size: 2.25rem;
          color: $text-color-2;
          text-align: center;
          margin: 1.5rem 0;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem;
      }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(3 , minmax(200px, 1fr));
        gap: 1rem;
        justify-content: center;
        justify-items: center;
        @media screen and  (max-width: 900px) {
            grid-template-columns: repeat(2 , minmax(200px, 1fr));
        }

        @media screen and (max-width: 669px) {
            grid-template-columns: repeat(1 , minmax(200px, 1fr));
        }


        .card {
            border: 1px solid firebrick;
            display: flex;
            flex-direction: column;
            max-width: 350px;
            
            
            .img {
                background-image: url('../../assets/blog/blog-1.png');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                height: 288px;
                @media screen and (max-width:$breakpoint-md) {
                    height: 248px;
                }
            }

            .img_1 {
                background-image: url('../../assets/blog/blog-1.png');
            }

            .img_2 {
                background-image: url('../../assets/blog/blog-2.png');
            }

            .img_3 {
                background-image: url('../../assets/blog/blog-3.png');
            }

           .text {
               display: flex;
               flex-direction: column;
                padding: 1.5rem;

            h1 {
                font-weight: 700;
                font-size: 1.5rem;
            }

            h5 {
                margin: 1rem 0;
                font-weight: 400;
                font-size: 1rem;
                color: $second-color;
            }

            p {
                font-family: $font-2;
                margin: 0 0 2.5rem 0;
                line-height: 1.6;
            }

            button {
                width: fit-content;
                padding: 0 0 2px;
                font-size: 14px;
                font-weight: 700;
                border-bottom: 2px solid black;
                color: #000000;
            }
           }
        }
    }

    
  }
}
