.testimonials_container {
  width: 100%;

  .testimonials_wrapper {
    border: 1px solid aqua;
    max-width: $max-width;
    padding: 3rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        color: $main-color;
      }

      h1 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        text-align: center;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem;
      }
    }
  }
}
