.info-work_container {
  width: 100%;

  .info-work_wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 3rem;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
          font-size: 1.5rem;
          color: $main-color;
          font-weight: 400;
          text-align: center;
      }

      h1 {
          font-weight: 900;
          color: $text-color-2;
          font-size: 2.25rem;
          margin: 1.5rem 0;
          text-align: center;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 3rem;
      }
    }

    .content {
        display: grid;
        grid-template-columns: repeat(4, minmax(200px, 1fr));
        justify-content: center;
        justify-items: center;
        gap: 1rem;
        @media screen and (max-width: 900px) {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
        }
        @media screen and (max-width: $breakpoint-sm) {
            grid-template-columns: repeat(1, minmax(200px, 1fr));
        }

        .content_item {
            color: $text-color-2;
            min-height: 278px;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .content_logo {
                border-radius: 50%;
                background-color: $main-color;
                width: 90px;
                height: 90px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 45px;
                    height: 45px;
                }
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 500;
                margin: 1rem 0;
                text-align: center;
            }

            p {
                font-family: $font-2;
                word-wrap: break-word;
                line-height: 1.4;
                text-align: center;
            }
        }
    }
  }
}
