.main_container {
  width: 100%;
  background-image: linear-gradient($sombra), url("../../assets/main.png");
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  .main_wrapper {
    border: 1px solid seagreen;
    max-width: $max-width;
    margin: 0 auto;
    padding: 6rem 3rem 0 3rem;
    display: flex;
    
    .main_content {
        flex: 6;
        color: $text-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4rem 0 0;

      h3 {
        color: $main-color;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 1.5rem;
      }

      h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 1.5rem;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem;
      }

      p {
        word-wrap: break-word;
        margin-bottom: 1.5rem;
      }

      .btns {
          font-family: $font-2;
        button {
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 1px;
          border-radius: 4px;
          padding: 10px 30px;
          cursor: pointer;
        }
        
        .btn-active {
            border: 2px solid $main-color;
            background-color: $main-color;

            &:hover {
                background-color: $hover-color;
                border-color: $hover-color;
            }

        }

        .btn {
            border: 2px solid $bg-color-1;
           background-color: transparent;

           &:hover {
               background-color: $bg-color-1;
               color: $text-color-2;
           }
        }
      }
    }

    .main_img {
      flex: 4;

      .img_content {
          display: flex;
          justify-content: center;
        border: 1px solid springgreen;
        max-height: 600px;
        max-width: 350px;
      }
    }
  }
}
