.map_container {
  width: 100%;

  .map_wrapper {
    max-width: $max-width;
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    @media screen and (max-width: $breakpoint-md) {
        flex-direction: column;
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 2rem 1rem;
    }

    .map {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .map_content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: $main-color;
      }

      h1 {
        color: $text-color-2;
        font-size: 2.25rem;
        font-weight: 900;
        margin: 1.5rem 0;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-bottom: 1.5rem;
      }

      p {
        font-family: $font-2;
        line-height: 1.6;
        word-wrap: break-word;
        margin-bottom: 2rem;
      }

      button {
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 4px;
        padding: 10px 30px;
      }

      .btn-active {
        border: 2px solid $main-color;
        background-color: $main-color;
        margin-right: 2rem;

        &:hover {
            background-color: $hover-color;
            border-color: $hover-color;
        }

    }
    }
  }
}
