.services_container {
  width: 100%;

  .services_wrapper {
    max-width: $max-width;
    padding: 3rem;
    @media screen and (max-width: 900px) {
      padding: 3rem 2rem;
    }
    @media screen and (max-width: $breakpoint-md) {
      padding: 2rem 1rem;
    }
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .services_titles {
        display: flex;
        flex-direction: column;
        align-items: center;
      h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: $main-color;
      }

      h1 {
        font-weight: bolder;
        font-size: 2.25rem;
        color: $text-color-2;
        margin-top: 1.25rem;
        text-align: center;
      }

      .line-small {
        width: 80px;
        border-width: 3px;
        border-color: $main-color;
        border-style: solid;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }
    }

    .services_content {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 300px));
        justify-content: center;
        gap: 2rem 1rem;
        @media screen and (max-width: 900px) {
          grid-template-columns: repeat(2, minmax(150px, 300px));
        }
        @media screen and (max-width: 569px) {
          grid-template-columns: repeat(1, minmax(150px, 300px));
          gap: 1rem;
        }
      .service_item {                  
        display: flex;

        .logo_container {
            flex: 3;
            display: flex;
            justify-content: center;
            margin-right: 10px;
            .logo {
                width: 64px;
                height: 64px;
                border-radius: 10px;
                border: 2px solid $main-color;
                align-self: flex-start;
                display: flex;
                justify-content: center;
                align-items: center;
              img {
                width: 36px;
                height: 36px;
              }
            }
        }

        .content {
            flex: 7;
            color: $text-color-2;
            word-wrap: break-word;
            
            margin-right: 10px;
            h3 {
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.2;
                margin-bottom: 1rem;
            }
            p {
                font-family: $font-2;
                line-height: 1.4;
            }
        }
      }
    }
  }
}
